<div class="flex flex-col gap-8">
  <div class="flex flex-col gap-2">
    <%= render(HeadingComponent.new(size: "h1", text: "キーワード、フィードのURLで検索")) %>
    <%= form_with url: search_feeds_path, method: :post, html: { class: "relative" }, data: { turbo_frame: :feed, controller: "debounce loading", debounce_target: "form", action: "turbo:submit-start->loading#displayLoading turbo:submit-end->loading#displayContent" } do |form| %>
      <%= render(FormFieldComponent.new(form: form, attribute_key: :query, placeholder: "キーワード、フィードのURL", data: { action: "input->debounce#search" })) %>
      <div data-loading-target="loading" class="hidden">
        <%= render(LoadingComponent.new) %>
      </div>
      <div class="absolute top-11 w-full">
        <%= turbo_frame_tag :search_result, data: { loading_target: "content" } %>
      </div>
    <% end %>
  </div>

  <div class="flex flex-col gap-2">
    <%= render(HeadingComponent.new(size: "h2", text: "カテゴリーから探す")) %>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
      <% Category.all.each do |category| %>
        <%= link_to "#", class: "text-slate-500 text-sm p-4 border rounded-sm" do %>
          #
          <%= category.name %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
