<div class="flex flex-col gap-8">
  <div class="flex flex-col gap-4">
    <div class="flex justify-between items-center">
      <%= render(HeadingComponent.new(size: "h1", text: @feed.title)) %>
      <div class="relative">
        <div class="absolute top-8 right-0">
          <%= turbo_frame_tag :select_folder %>
        </div>
        <%= render(ButtonComponent.new(text: "登録", variant: "outline", href: new_feed_feed_subscription_path(@feed), data: { turbo_frame: "select_folder" })) %>
      </div>
    </div>
    <p class="text-slate-600 text-sm"><%= @feed.description %></p>
  </div>
  <div class="flex flex-col gap-4">
    <div class="flex justify-between items-center">
      <div class="text-sm text-slate-600">最新記事</div>
      <%= link_to @feed.url, target: "_blank", class: "flex items-center gap-2 border border-primary px-2 py-1 rounded-full text-primary" do %>
        <div class="text-xs">サイトを見る</div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
        </svg>
      <% end %>
    </div>
    <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-4">
      <% @entries.each do |entry| %>
        <%= link_to entry.url, target: "_blank", class: "border rounded p-2 hover:bg-gray-100" do %>
          <div class="flex flex-col gap-2">
            <%= image_tag entry.image, class: "rounded" if entry.image.present? %>
            <div class="font-bold text-sm">
              <%= truncate(entry.title, omission: "...", length: 40) %>
            </div>
            <% unless entry.categories.count.zero? %>
              <p class="text-xs text-slate-600">#<%= entry.categories.last %></p>
            <% end %>
            <div class="flex items-center gap-1 text-slate-600">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
              </svg>
              <p class="text-xs"><%= l entry.published, format: :long %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
