<!DOCTYPE html>
<html>
  <head>
    <title>RSS Reader</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class="flex">
      <aside class="sticky top-0 h-screen">
        <%= render "layouts/admin/sidebar" %>
      </aside>
      <div class="flex flex-col flex-1">
        <%= render "layouts/admin/navbar" %>
        <div id="flash">
          <%= render "shared/flash", flash: flash %>
        </div>
        <main class="p-8">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
