<tr class="bg-white border-b">
  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
    <%= link_to feed.id, admin_feed_path(feed), class: "underline" %>
  </th>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= feed.title %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= feed.category.present? ? feed.category.name : "未設定" %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= feed.url %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= link_to "更新", admin_feed_update_path(feed), data: { turbo_method: :patch }, class: "border px-2 py-1 rounded-sm" %>
  </td>
</tr>
