<% if @href.present? %>
  <%= link_to(
    @href,
    class: "border-2 border-primary data-[button-variant=outline]:border-primary data-[button-variant=outline]:text-primary inline-flex items-center justify-center gap-2 data-[button-variant=primary]:bg-primary text-white font-bold py-1 px-2 data-[button-size=large]:py-2 data-[button-size=large]:px-4 rounded w-full",
    data: {
      button_variant: @variant,
      button_size: @size
    }.merge(@data)
  ) do %>
    <%= @text %>
  <% end %>
<% else %>
  <button
    class="border-2 border-primary data-[button-variant=outline]:border-primary data-[button-variant=outline]:text-primary inline-flex items-center justify-center gap-2 data-[button-variant=primary]:bg-primary text-white font-bold py-1 px-2 data-[button-size=large]:py-2 data-[button-size=large]:px-4 rounded w-full"
    data-button-variant="<%= @variant %>"
    data-button-size="<%= @size %>"
    name="<%= @name %>"
    type="<%= @type %>"
  >
    <%= @text %>
  </button>
<% end %>
