<div data-controller="loading" class="flex flex-col gap-4">
  <div class="flex justify-between items-start gap-4">
    <div class="flex flex-col gap-1">
      <%= render(HeadingComponent.new(size: "h1", text: @feed.title)) %>
      <p class="text-xs text-slate-800"><%= @feed.description %></p>
    </div>
    <div class="flex items-center gap-4">
      <div class="flex">
        <%= link_to folder_feed_path(@folder, @feed, request.query_parameters.merge(type: "card")), class: class_names("border", "text-green-400 border-green-400": request.query_parameters[:type] != "list") do %>
          <%= icon "squares" %>
        <% end %>
        <%= link_to folder_feed_path(@folder, @feed, request.query_parameters.merge(type: "list")), class: class_names("border", "text-green-400 border-green-400": request.query_parameters[:type] == "list") do %>
          <%= icon "list-bullet" %>
        <% end %>
      </div>
      <%= form_with url: feed_update_path(@feed, type: request.query_parameters[:type], liked: request.query_parameters[:liked]), method: :patch, class: "w-6 h-6", data: { action: "turbo:submit-start->loading#displayLoading turbo:submit-end->loading#displayContent" } do %>
        <%= button_tag type: "submit" do %>
          <%= icon "arrow-path" %>
        <% end %>
      <% end %>
      <%= render DropdownComponent.new do %>
        <%= render DropdownItemComponent.new(href: "#", icon: "pencil", text: "編集", underline: true) %>
        <%= render DropdownItemComponent.new(href: "#", icon: "trash", text: "削除", css: "text-red-400") %>
      <% end %>
    </div>
  </div>
  <div>
    <div class="flex flex-col md:flex-row md:justify-between md:items-end mb-4">
      <div class="flex items-center gap-4 text-sm text-slate-600 mb-2 md:mb-0">
        <%= link_to "全て", folder_feed_path(@folder, @feed, type: request.query_parameters[:type]), class: class_names("font-bold text-green-400": request.query_parameters[:liked].blank?) %>
        <%= link_to "お気に入り", folder_feed_path(@folder, @feed, request.query_parameters.merge(liked: true)), class: class_names("font-bold text-green-400": request.query_parameters[:liked].present?) %>
      </div>
      <%= form_with url: search_items_path(feed_id: @feed.id, type: request.query_parameters[:type], liked: request.query_parameters[:liked]), method: :post, data: { controller: "debounce", debounce_target: "form" } do |form| %>
        <%= render FormFieldComponent.new(form: form, attribute_key: :query, data: { action: "input->debounce#search" }, placeholder: "キーワード", size: "sm") %>
      <% end %>
    </div>
    <div data-loading-target="loading" class="hidden mt-4">
      <%= render(LoadingComponent.new) %>
    </div>
    <%= turbo_frame_tag :items, class: class_names("grid md:grid-cols-2 lg:grid-cols-4 gap-2": params[:type] != "list"), data: { loading_target: "content" } do %>
      <%= render partial: "items/item", collection: @items, as: :item, locals: { type: request.query_parameters[:type] } %>
    <% end %>
  </div>
</div>
