<div data-controller="loading" class="flex flex-col gap-4">
  <div class="flex justify-between items-center">
    <%= render(HeadingComponent.new(size: "h1", text: @feed.title)) %>
    <div class="flex items-center gap-4">
      <%= form_with url: feed_update_path(@feed), method: :patch, data: { action: "turbo:submit-start->loading#displayLoading turbo:submit-end->loading#displayContent" } do %>
        <%= button_tag type: "submit" do %>
          <%= icon "arrow-path", css: "size-5" %>
        <% end %>
      <% end %>
      <%= render "shared/dropdown" do %>
        <%= link_to "#", class: "flex items-center gap-1 py-2 px-4 hover:opacity-80" do %>
          <%= icon "pencil" %>
          <span class="text-sm">編集</span>
        <% end %>
        <hr class="bg-gray-200 my-1">
        <%= button_to "#", class: "flex items-center gap-1 text-red-400 py-2 px-4 hover:opacity-80" do %>
          <%= icon "trash" %>
          <span class="text-sm">削除</span>
        <% end %>
      <% end %>
    </div>
  </div>
  <div>
    <div class="flex items-center gap-4 text-sm text-slate-600 mb-2">
      <div class="font-bold">全ての記事</div>
      <div class="">お気に入り</div>
    </div>
    <div data-loading-target="loading" class="hidden mt-4">
      <%= render(LoadingComponent.new) %>
    </div>
    <%= turbo_frame_tag :items, class: "grid md:grid-cols-2 lg:grid-cols-4 gap-4", data: { loading_target: "content" } do %>
      <%= render partial: "folders/feeds/item", collection: @items, as: :item %>
    <% end %>
  </div>
</div>
