<nav class="sticky top-0 z-0 w-full bg-white shadow mb-4">
  <div class="flex items-center justify-between md:justify-end py-4 px-8">
    <button class="md:hidden" data-controller="sidebar" data-action="sidebar#open">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </button>
    <div class="flex items-center gap-4">
      <div class="flex items-center gap-2">
<%
=begin
%>
        <div class="relative" data-controller="dropdown">
          <button class="flex items-center gap-1" data-action="dropdown#toggle click@window->dropdown#hide">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
              <path fill-rule="evenodd" d="M5.25 9a6.75 6.75 0 0 1 13.5 0v.75c0 2.123.8 4.057 2.118 5.52a.75.75 0 0 1-.297 1.206c-1.544.57-3.16.99-4.831 1.243a3.75 3.75 0 1 1-7.48 0 24.585 24.585 0 0 1-4.831-1.244.75.75 0 0 1-.298-1.205A8.217 8.217 0 0 0 5.25 9.75V9Zm4.502 8.9a2.25 2.25 0 1 0 4.496 0 25.057 25.057 0 0 1-4.496 0Z" clip-rule="evenodd" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
          </button>
          <div
            data-dropdown-target="menu"
            class="hidden transition transform origin-top-right absolute right-0 bg-white shadow py-2 px-4 rounded min-w-72"
            data-transition-enter-from="opacity-0 scale-95"
            data-transition-enter-to="opacity-100 scale-100"
            data-transition-leave-from="opacity-100 scale-100"
            data-transition-leave-to="opacity-0 scale-95">
            <% if current_user.notifications.size.zero? %>
              <div class="text-sm text-slate-500">通知はありません。</div>
            <% else %>
              <ul>
                <% current_user.notifications.order(created_at: :desc).limit(5).each do |notification| %>
                  <li class="py-1">
                    <%= link_to notification.event.url do %>
                      <div class="text-xs text-slate-500">
                        <%= notification.event.message %>
                      </div>
                    <% end %>
                    <hr class="bg-slate-300 my-2">
                  </li>
                <% end %>
              </ul>
              <div class="text-sm text-right text-slate-500">
                <%= link_to "全て見る", notifications_path %>
              </div>
            <% end %>
          </div>
        </div>
<%
=end
%>
      </div>
      <%= render DropdownComponent.new(icon: "user-circle", css: "z-10") do %>
        <%= render DropdownItemComponent.new(href: "#", text: current_user.email, underline: true) %>
        <%= render DropdownItemComponent.new(href: edit_user_registration_path, icon: "user", text: "プロフィール") %>
        <%= render DropdownItemComponent.new(href: "#", icon: "lock-closed", text: "パスワード", underline: true) %>
        <%= render DropdownItemComponent.new(href: destroy_user_session_path, data: { turbo_method: :delete }, icon: "arrow-right-start-on-rectangle", text: "ログアウト") %>
      <% end %>
    </div>
  </div>
</nav>
