<div
  id="sidebar-background"
  class="fixed inset-0 bg-slate-900 bg-opacity-30 z-10 md:hidden bg-opacity-30 opacity-0 pointer-events-none"
  data-controller="sidebar"
  data-action="click->sidebar#close">
</div>
<div id="sidebar" class="flex flex-col absolute left-0 top-0 z-20 md:static top-0 left-0 bg-gray-50 shadow p-4 w-[240px] h-screen transition-transform -translate-x-full md:translate-x-0">
  <div class="font-bold text-xl mb-16">
    RSS Reader
  </div>

  <ul class="flex flex-col gap-2 mb-8">
    <li>
      <%= link_to user_root_path, class: "#{controller.controller_path == "dashboard" ? "text-green-400" : ""} flex items-center gap-2 px-4 py-2 rounded-sm hover:bg-gray-100 w-full" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0 0 20.25 18V6A2.25 2.25 0 0 0 18 3.75H6A2.25 2.25 0 0 0 3.75 6v12A2.25 2.25 0 0 0 6 20.25Z" />
        </svg>
        <div class="font-bold">TODAY</div>
      <% end %>
  </ul>
  <div class="text-sm text-slate-500 mb-2 px-4">FEEDS</div>
  <ul class="flex flex-col gap-2 mb-8" data-controller="sidebar">
      <%= link_to feeds_path, class: "#{controller.controller_path == "feeds" ? "text-green-400" : ""} flex items-center gap-2 px-4 py-2 rounded-sm hover:bg-gray-100 w-full" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 19.5v-.75a7.5 7.5 0 0 0-7.5-7.5H4.5m0-6.75h.75c7.87 0 14.25 6.38 14.25 14.25v.75M6 18.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
        </svg>
        <div class="font-bold">ALL</div>
      <% end %>
    </li>
    <% current_user.folders.each do |folder| %>
      <li data-controller="toggle">
        <div class="flex items-center gap-2 hover:bg-gray-100 text-sm px-4 py-2">
          <button data-action="click->toggle#toggle">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4" data-toggle-target="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
          </button>
          <%= link_to folder_path(folder), class: class_names("w-full flex items-center justify-between", { "text-green-400": request.path_info == "/folders/#{folder.id}" }) do %>
            <div class="font-bold"><%= folder.name %></div>
            <div class="<%= request.path_info == "/folders/#{folder.id}" ? "text-green-400" : "text-slate-400" %> text-xs"><%= folder.feeds.size %></div>
          <% end %>
        </div>
        <div class="pl-10 hidden" data-toggle-target="toggleable">
          <%= turbo_frame_tag dom_id(folder) do %>
            <% folder.feeds.order(:created_at).each do |feed| %>
                <%= render partial: "feeds/sidebar/feed", locals: { feed: feed, folder: folder } %>
            <% end %>
          <% end %>
        </div>
      </li>
    <% end %>
    <%= link_to new_folder_path, data: { turbo_frame: "slide-over", action: "click->sidebar#close" }, class: "px-10 flex items-center text-xs text-slate-400 gap-1" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 10.5v6m3-3H9m4.06-7.19-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z" />
      </svg>
      <div class="">フォルダを追加</div>
    <% end %>
  </ul>

  <div class="text-sm text-slate-500 mb-2 px-4">SUPPORT</div>
  <ul>
    <li>
      <%= link_to "#", class: "flex items-center gap-2 px-4 py-2 rounded-sm hover:bg-gray-100 w-full" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
        </svg>
        <div class="font-bold">ガイドライン</div>
      <% end %>
    </li>
  </ul>
</div>

<%= turbo_frame_tag "slide-over" %>
