<div
  id="sidebar-background"
  class="fixed inset-0 bg-slate-900 bg-opacity-30 z-10 md:hidden bg-opacity-30 opacity-0 pointer-events-none"
  data-controller="sidebar"
  data-action="click->sidebar#close">
</div>
<div id="sidebar" class="flex flex-col absolute left-0 top-0 z-20 md:static top-0 left-0 bg-gray-50 shadow p-4 w-[240px] h-screen transition-transform -translate-x-full md:translate-x-0">
  <div class="font-bold text-xl mb-16">
    RSS Reader
  </div>

  <ul class="flex flex-col gap-2 mb-4">
    <li>
      <%= link_to user_root_path, class: "#{controller.controller_path == "dashboard" ? "text-green-400" : ""} flex items-center gap-2 px-4 py-2 rounded-sm hover:bg-gray-100 w-full" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0 0 20.25 18V6A2.25 2.25 0 0 0 18 3.75H6A2.25 2.25 0 0 0 3.75 6v12A2.25 2.25 0 0 0 6 20.25Z" />
        </svg>
        <div class="font-bold">TODAY</div>
      <% end %>
    </li>
    <li>
      <%= link_to user_root_path, class: "#{controller.controller_path == "" ? "text-green-400" : ""} flex items-center gap-2 px-4 py-2 rounded-sm hover:bg-gray-100 w-full" do %>
        <%= icon "bookmark" %>
        <div class="font-bold">READ LATER</div>
      <% end %>
    </li>
    <li>
      <%= link_to user_root_path, class: "#{controller.controller_path == "" ? "text-green-400" : ""} flex items-center gap-2 px-4 py-2 rounded-sm hover:bg-gray-100 w-full" do %>
        <%= icon "star" %>
        <div class="font-bold">LIKE</div>
      <% end %>
    </li>
  </ul>

  <div class="text-sm text-slate-500 mb-2 px-4">FEEDS</div>
  <ul class="flex flex-col gap-2 mb-8" data-controller="sidebar">
    <li>
      <%= link_to feeds_path, class: "#{controller.controller_path == "feeds" ? "text-green-400" : ""} flex items-center gap-2 px-4 py-2 rounded-sm hover:bg-gray-100 w-full" do %>
        <%= icon "rss" %>
        <div class="font-bold">ALL</div>
      <% end %>
    </li>
    <% current_user.folders.order(:created_at).each do |folder| %>
      <li data-controller="toggle" data-toggle-toggleable-value="<%= folder.class.name.underscore.pluralize %>" data-toggle-toggleable-id-value="<%= folder.id %>">
        <div class="flex items-center gap-2 hover:bg-gray-100 text-sm px-4 py-2">
          <button data-action="click->toggle#toggle">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="<%= "size-4 #{folder.toggle ? "rotate-90" : ""}" %>" data-toggle-target="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
          </button>
          <%= link_to folder_path(folder), class: class_names("w-full flex items-center justify-between", { "text-green-400": request.path_info == "/folders/#{folder.id}" }) do %>
            <div class="font-bold"><%= folder.name %></div>
            <div class="<%= request.path_info == "/folders/#{folder.id}" ? "text-green-400" : "text-slate-400" %> text-xs"><%= folder.feeds.size %></div>
          <% end %>
        </div>
        <div class="<%= "pl-10 #{folder.toggle ? "" : "hidden"}" %>" data-toggle-target="toggleable">
          <%= turbo_frame_tag dom_id(folder) do %>
            <% folder.feeds.order(:created_at).each do |feed| %>
                <%= render partial: "feeds/sidebar/feed", locals: { feed: feed, folder: folder } %>
            <% end %>
          <% end %>
        </div>
      </li>
    <% end %>
    <%= link_to new_folder_path, data: { turbo_frame: "slide-over", action: "click->sidebar#close" }, class: "px-10 flex items-center text-xs text-slate-400 gap-1" do %>
      <%= icon "folder-plus", css: "w-4" %>
      <div class="">フォルダを追加</div>
    <% end %>
  </ul>
</div>

<%= turbo_frame_tag "slide-over" %>
