<!DOCTYPE html>
<html>
  <head>
    <title>AtsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body id="main-background">
    <div class="flex">
      <% if user_signed_in? %>
        <aside class="sticky top-0 h-screen z-20">
          <%= render "layouts/sidebar" %>
        </aside>
      <% end %>
      <div class="fle flex-col flex-1">
        <% if user_signed_in? %>
          <%= render "layouts/navbar" %>
        <% end %>
        <div id="flash">
          <%= render "shared/flash", flash: flash %>
        </div>
        <main class="px-8">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
